/* GRID */
$gutter-width: 2%;
// This is a semantic grid//
.row {
    // padding: 1% 0;
    .column {
        margin-bottom: 2%;
    }
}

@media (min-width: $breakpoint-small){
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -$gutter-width/2;
        margin-right: -$gutter-width/2;
&.swap{
    flex-direction: row-reverse;}
// &.center {
//     display: block;
//     .column {
//         margin-left: auto;
//         margin-right: auto;
//     }
&.center{
    flex-direction: column;
    align-items: center;
}
}
    }
    .column{
        // color: red;
        flex-grow: 1;
        margin: $gutter-width/2;
        &.one-half {width: 50%-$gutter-width;}
        &.one-third {width: 33.3333%-$gutter-width;}
        &.two-third {width: 66.6666%-$gutter-width;}
        &.one-fourth {width: 25%-$gutter-width;}

}


.row.demo {
    .column {
        background: rgba(0,0,0,.5);
        padding: 1.5em;
        text-align: center;
    }
} 
